{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <section id="connexion">
        <img src="img/logoCorrecto.png" alt="logo correcto">
        <h1>Bienvenue sur Correcto</h1>
        <div class="choixConnexionInscription">
            <a class="active" href="{{ path ('app_login') }}">Connexion</a>
        </div>

        <form id="connexionForm" method="post">
            {% if app.user %}
                <div class="mb-3">
                    Déconnexion de {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div>
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" placeholder="john.doe@email.com" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div>
                <label for="password">Mot de passe</label>
                <div id="mdpOublieBox">
                    <input type="password" placeholder="*********" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    <a id="mdpOublieText" href="{{ path ('app_mdp_oublie')}}">Mot de passe oublié ?</a>
                </div>
            </div>

            {% if error %}
                <div class="alert alert-danger">
                    <svg class="iconForm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="bouton">Se connecter</button>

        </form>
    </section>
{% endblock %}
