{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <section class="resetPassword">
        <h1>Demande de réinitialisation du mot de passe</h1>
        <div class="choixConnexionInscription">
            <a class="active" href="{{ path ('app_login') }}">Connexion</a>  | <a href="{{ path ('app_register') }}">Inscription</a>
        </div>

        {{ form_start(requestPasswordForm) }}
            {{ form_row(requestPasswordForm.email) }}
            <button type="submit">Envoyer</button>
        {{ form_end(requestPasswordForm) }}

    </section>
{% endblock %}
