{% extends 'base.html.twig' %}

{% block title %}Création groupe{% endblock %}

{% block main %}
<div class="div_blanche">
   <h1>Rejoindre un groupe</h1>
    <h2>{{ evaluation.nom }}</h2>
    <div id="groupes_grid">
        {% for groupe in groupes %}
        <div class="groupe_grid">
            <!---Titre-->
            {% if groupe.taille >= 2 %}
                <h3>{{ groupe.nom }} : {{ groupe.taille }} personnes maximum</h3>
            {% else %}
                <h3>{{ groupe.nom }} : {{ groupe.taille }} personne maximum</h3>
            {% endif %}

            <!---Personne du groupe-->
            <div class="eleve_grid">
                {% for fiche_groupe in groupe.ficheGroupes %}
                    <div class="élève_groupe">
                        <img src="{{ asset('img/avatar/') }}{{ fiche_groupe.etudiant.photo }}" alt="Avatar du profil">
                        <p>{{ fiche_groupe.etudiant.prenom }}</p>
                        <p>{{ fiche_groupe.etudiant.nom }}</p>
                    </div>
                {% endfor %}
            </div>

            {% if evaluation.formationGroupe == 'Choix' %}
                {% if groupeActuel and groupeActuel.id == groupe.id %}
                    <!--- L'étudiant est dans un groupe - COULEUR ROUGE  -->
                    <form method="post" class="quitter" action="{{ path('app_groupe_quitter', {'id': groupe.id}) }}" onsubmit="return confirm('Voulez-vous vraiment quitter ce groupe ?');">
                        <button class="bouton bouton_groupe">Quitter</button>
                    </form>
                {% elseif not groupeActuel %}
                    <!---L'étudiant veut rejoindre - COULEUR BLEUE  -->
                    <form method="post" class="rejoindre" action="{{ path('app_groupe_ajout', {'id': groupe.id}) }}" onsubmit="return confirm('Voulez-vous vraiment rejoindre ce groupe ?');">
                        <button class="bouton bouton_groupe">Rejoindre</button>
                    </form>
                {% else %}
                    <!---L'étudiant est dans un autre groupe - COULEUR GRIS / HOVER BLOQUER -->
                    <div class="bloquer">
                        <button class="bouton bouton_groupe" disabled title="Vous devez d'abord quitter votre groupe actuel">Rejoindre</button>
                    </div>
                {% endif %}
            {% else %}
                <!---L'étudiant est dans un groupe et ne peux pas le quitter car groupe aleatoie - COULEUR GRIS / HOVER BLOQUER -->
                <div class="bloquer">
                    <button class="bouton bouton_groupe" disabled title="Vous devez d'abord quitter votre groupe actuel">Rejoindre</button>
                </div>
            {% endif %}

        </div>
        {% endfor %}
       <!--<div class="groupe_grid">
           <h3>Groupe 1 - 5 personnes</h3>
           <div class="eleve_grid">
                  <div class="élève_groupe">
                     <p>Julie</p>
                     <p>COULANDREAU</p>
                  </div>
                   <div class="élève_groupe">
                       <p>Houda</p>
                       <p>PERIES</p>
                   </div>
           </div>
           <button class="bouton bouton_groupe">Rejoindre</button>
       </div>-->

        <!--<div class="groupe_grid">
            <h3>Groupe 1 - 5 personnes</h3>
            <div class="eleve_grid">
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
            </div>
            <button class="bouton bouton_groupe">Rejoindre</button>
        </div>
        <div class="groupe_grid">
            <h3>Groupe 1- 4 personnes</h3>
            <div class="eleve_grid">
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
            </div>
            <button class="bouton bouton_groupe">Rejoindre</button>
        </div>-->






    </div>
</div>
{% endblock %}
