{% extends 'base.html.twig' %}

{% block title %}Mes ressources{% endblock %}

{% block main %}
    <div class="div_blanche">
        <h1>Mes ressources</h1>
        <div id="ressources">

            <!--Matiere du semestre2-->
            <h3>Semestre2</h3>
            <div class="ressource_prof_grid">
                {% for semestre in semestre2 %}
                    <div class="ressources_carte">
                        <a title="Afficher la ressource" href="{{ path('app_fiche_matiere', {'id': semestre.matiere.id}) }}">
                            {{ semestre.matiere.nom }}
                        </a>
                        {% for evaluation in semestre.matiere.evaluation %}
                            <div class="evaluation_box_nom">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                                </svg>
                                <p class="eval_nom">{{ evaluation.nom }}</p>
                                <p>{{ evaluation.statut }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <!--Matiere du semestre4-->
            <h3>Semestre4</h3>
            <div class="ressource_prof_grid">
                {% for semestre in semestre4 %}
                    <div class="ressources_carte">
                        <a title="Afficher la ressource" href="{{ path('app_fiche_matiere', {'id': semestre.matiere.id}) }}">
                            {{ semestre.matiere.nom }}
                        </a>
                        {% for evaluation in semestre.matiere.evaluation %}
                            <div class="evaluation_box_nom">
                                <p>{{ evaluation.nom }}</p>
                                <p>{{ evaluation.statut }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <!--Matiere du semestre6-->
            <h3>Semestre6</h3>
            <div class="ressource_prof_grid">
                {% for semestre in semestre6 %}
                    <div class="ressources_carte">
                        <a title="Afficher la ressource" href="{{ path('app_fiche_matiere', {'id': semestre.matiere.id}) }}">
                            {{ semestre.matiere.nom }}
                        </a>
                        {% for evaluation in semestre.matiere.evaluation %}
                            <p>{{ evaluation.nom }}</p>
                            <p>{{ evaluation.statut }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
