{% extends 'base.html.twig' %}

{% block title %}Ajout Grille{% endblock %}

{% block main %}
    <div class="ajoutGrille">
        <h1>Ajout d'une grille</h1>
        {% block form %}
            {{ form_start(form_grille) }}

            <div class="duo">
                {{ form_row(form_grille.nom) }}
                <div class="display-none">
                    {{ form_row(form_grille.professeur) }}
                </div>
            </div>

            <div class="criteres"
                 data-index="{{ form_grille.criteres|length > 0 ? form_grille.criteres|last.vars.name + 1 : 0 }}"
                 data-prototype="{{ form_widget(form_grille.criteres.vars.prototype)|replace({'<div': '<div class=\"critere-item\"'}) |e('html_attr') }}"
            >
                {% for critere in form_grille.criteres %}
                    <div class="critere-item">
                        {{ form_row(critere.nom) }}
                        {{ form_row(critere.note) }}
                        {{ form_row(critere.commentaire) }}
                        <button type="button" class="remove-item">X</button>
                    </div>
                {% endfor %}
            </div>


            <button type="button" class="bouton add_item_link" data-collection-holder-class="criteres">Ajouter un critère</button>

            <div class="duo_bouton">
                <button>
                    <a href="{{ path('app_grille') }}">

                        Précédent
                    </a>
                </button>
                <button class="btn bouton publier">
                    {{ button_label|default('Publier') }}
                    <svg width="15" height="8" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.25 1.25L19 5M19 5L15.25 8.75M19 5H1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>


            {{ form_end(form_grille) }}
        {% endblock %}
    </div>
{% endblock %}