{% extends 'base.html.twig' %}

{% block title %}Choix de la grille d'évaluation{% endblock %}

{% block main %}
    {% include 'components/_breadcrumbs.html.twig' %}
    <div class="box div_blanche">
        <h1>Quelles grilles d'évaluation souhaitez-vous mettre en place ?</h1>
        <div class="boxGrille">
            <a href="{{ path('app_grille_ajout') }}" class="create-new">Créer une nouvelle grille</a>
            {% for grille in grilles %}
                <a href="#" class="grille-link"
                   data-id="{{ grille.id }}"
                   data-nom="{{ grille.nom }}"
                   data-criteres="{{ grille.criteres|map(c => {
                       'id': c.id,
                       'nom': c.nom,
                       'note': c.note,
                       'commentaire': c.commentaire
                   })|json_encode|e('html_attr') }}"
                >{{ grille.nom }}</a>
            {% endfor %}
        </div>

        <div class="overlay" id="modalOverlay">
            <div class="modal">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalTitle">Grille : TP NOTÉ SYMFONY</h2>
                    <button class="close-button">×</button>
                </div>
                <div class="modal-body">
                    <div class="evaluation-item">
                        <div class="evaluation-header">
                            <p class="evaluation-label">Cohérence du code</p>
                            <p class="evaluation-score">/5</p>
                        </div>
                        <p>commentaire</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="POST" action="">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                        <button type="submit" id="delete-button" class="delete-button">Supprimer</button>
                    </form>

                    <a href="" id="useGrilleLink" class="bouton">Modifier</a>

                </div>
            </div>
        </div>

    </div>

{% endblock %}