{% extends 'base.html.twig' %}

{% block title %}Ajoutez une évaluation{% endblock %}

{% block main %}
    <div class="ajoutEvaluation">
        <h1>Nouvelle évaluation dans le module : {{ matiere.nom }}</h1>

        {% block form %}
            {{ form_start(form_evaluation) }}

                <div class="nom">
                    {{ form_label(form_evaluation.nom) }}
                    {{ form_widget(form_evaluation.nom) }}
                    <div class="alert">{{ form_errors(form_evaluation.nom) }}</div>
                </div>

                <div class="duo">
                    {#<div class="statut">
                        {{ form_label(form_evaluation.statut) }}
                        {{ form_widget(form_evaluation.statut) }}
                        <div class="alert">{{ form_errors(form_evaluation.statut) }}</div>
                    </div>#}
                    <div class="statut_groupe">
                        {{ form_label(form_evaluation.statut_groupe) }}
                        {{ form_widget(form_evaluation.statut_groupe) }}
                        <div class="alert">{{ form_errors(form_evaluation.statut_groupe) }}</div>
                    </div>

                </div>
                <div class="duo">
                    <div class="coef">
                        {{ form_label(form_evaluation.coef) }}
                        {{ form_widget(form_evaluation.coef) }}
                        <div class="alert">{{ form_errors(form_evaluation.coef) }}</div>
                    </div>

                    <div class="date">
                        {{ form_label(form_evaluation.date) }}
                        {{ form_widget(form_evaluation.date) }}
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                            </svg>
                            Cette date correspond à la date à laquelle l'examen a lieu.
                        </span>
                        <div class="alert">{{ form_errors(form_evaluation.date) }}</div>
                    </div>
                </div>

            <div class="duo duo_bouton">
                <a class="bouton" href="{{ path('app_accueil_prof') }}">
                    Précédent
                </a>

                <button class="btn bouton" type="submit">
                    {{ button_label|default('Ajouter') }}
                    <svg width="15" height="8" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.25 1.25L19 5M19 5L15.25 8.75M19 5H1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>


            {{ form_end(form_evaluation) }}
        {% endblock %}
    </div>
{% endblock %}