{% extends 'base.html.twig' %}

{% block title %}Ajout Groupe Evaluation{% endblock %}

{% block main %}
    <div class="ajoutMatiere">
        {% block form %}
            {{ form_start(form_evaluation) }}
            <h1>Groupe : {{ matiere.nom }}</h1>
            {{ form_row(form_evaluation.taille_max_groupe) }}
            {{ form_row(form_evaluation.type_groupe) }}
            {{ form_row(form_evaluation.formation_groupe) }}
            <button class="btn bouton" type="submit">Ajouter</button>
            {{ form_end(form_evaluation) }}
        {% endblock %}
    </div>
{% endblock %}