{% extends 'base.html.twig' %}

{% block title %}Évaluation module{% endblock %}

{% block main %}

    <div id="notes_evaluation" class="div_blanche">
        <div id="titre_bouton_eval">
            <div id="titre_evaluation">
                <h1>{{ evaluation.matiere.nom }}</h1>
                <h2>{{ evaluation.nom }}</h2>
            </div>
            <a class="bouton" href="{{ path('app_note', {'id': evaluation.id}) }}">Évaluer</a>
        </div>
        <div class="header_notes">
            <p>Nom</p>
            <p>Prénom</p>
            <p>Note</p>
            <p>Commentaire</p>
        </div>
        {#{% if evaluation.statutGroupe == "Individuel"  %}#}
            {% for note in notes %}
                <div id="note_eleve">
                    <p class="nom">{{ note.etudiant.nom }}</p>
                    <p class="prenom">{{ note.etudiant.prenom }}</p>
                    {% if note.note is defined and note.note is not null %}
                        {% if note.note < 8 %}
                            <p class="note rouge">{{ note.note }}</p>
                        {% elseif note.note > 10 %}
                            <p class="note vert">{{ note.note }}</p>
                        {% else %}
                            <p class="note orange">{{ note.note }}</p>
                        {% endif %}
                    {% else %}
                        <p class="note non_note">Pas de note</p>
                    {% endif %}

                    {% if note.commentaire is defined and note.commentaire is not null %}
                        <p class="commentaire">{{ note.commentaire }}</p>
                    {% else %}
                        <p class="commentaire">Pas de commentaire</p>
                    {% endif %}
                    {% for critere in criteres %}
                        <p>{{ critere.nom }}{{ critere.note }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        {# {% else %}
            {% for note in notes %}
                <div id="note_eleve">
                    <p class="nom">{{ note.etudiant.nom }}</p>
                    <p class="prenom">{{ note.etudiant.prenom }}</p>
                    {% if note.note is defined and note.note is not null %}
                        {% if note.note < 8 %}
                            <p class="note rouge">{{ note.note }}</p>
                        {% elseif note.note > 10 %}
                            <p class="note vert">{{ note.note }}</p>
                        {% else %}
                            <p class="note orange">{{ note.note }}</p>
                        {% endif %}
                    {% else %}
                        <p class="note non_note">Pas de note</p>
                    {% endif %}
                    {% if note.commentaire is defined and note.commentaire is not null %}
                        <p class="commentaire">{{ note.commentaire }}</p>
                    {% else %}
                        <p class="commentaire">Pas de commentaire</p>
                    {% endif %}
                </div>
            {% endfor %} #}
            {#{% for groupe in groupes %}
                <p>{{ groupe.nom }} --- {{ groupe.taille }} personnes</p>
                {% for fiche_groupe in groupe.ficheGroupes %}
                    <div class="élève_groupe">
                        <p>{{ fiche_groupe.etudiant.prenom }}</p>
                        <p>{{ fiche_groupe.etudiant.nom }}</p>
                    </div>
                {% endfor %}
            {% endfor %}#}
        {# {% endif %} #}
    </div>

{% endblock %}