{% extends 'base.html.twig' %}

{% block title %}Évaluation module{% endblock %}

{% block main %}
    <div id="notes_evaluation" class="div_blanche">
        <h1>{{ evaluation.matiere.nom }}</h1>
        <h2>{{ evaluation.nom }}</h2>
        <button id="toggle-all">Tout déplier</button>
        <div class="header_notes">
            <p>Nom</p>
            <p>Prénom</p>
            <p>Note</p>
            <p>Commentaire</p>
        </div>

        {# form_start(form_ajout_note) #}
        <form method="POST" action="{{ path('app_note', {'id': evaluation.id}) }}">

            {% if evaluation.statutGroupe == "Individuel" %}
                {# Récupérez la collection de notes du formulaire #}
                {# set note_collection = form_ajout_note.note #}

                {% for i, etudiant in etudiants %}
                    <div class="note-wrapper">
                        <div class="note_eleve">
                            <div class="down">
                                <svg alt="toggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <p class="nom">{{ etudiant.nom }}</p>
                            <p class="prenom">{{ etudiant.prenom }}</p>
                            {% set note = notesParEtudiant[etudiant.id] ?? null %}
                            {% if note and note.note is not null %}
                                {% if note.note < 8 %}
                                    <p class="note rouge">{{ note.note }}</p>
                                {% elseif note.note > 10 %}
                                    <p class="note vert">{{ note.note }}</p>
                                {% else %}
                                    <p class="note orange">{{ note.note }}</p>
                                {% endif %}
                            {% else %}
                                <p class="note non_note">Pas de note</p>
                            {% endif %}

                            <textarea name="etu_{{ etudiant.id }}_{{ evaluation.id }}">{{ notesEvaluationsExistantes[etudiant.id][evaluation.id] ?? '' }}</textarea>

                        </div>

                        <div class="criteres_eleve">
                            {# if form_ajout_note.note is defined #}
                            {% for critere in criteres %}
                                <div class="critere_eleve">
                                    <label>{{ critere.nom }}</label>
                                    <div class="input_critere_eleve"><input type="number" name="etu_{{ etudiant.id }}_{{ critere.id }}" min="0" max="{{ critere.note }}"  value="{{ notesExistantes[etudiant.id][critere.id] is defined ? notesExistantes[etudiant.id][critere.id] : '' }}"><p>/{{ critere.note }}</p></div>
                                    <p>{{ critere.commentaire }}</p>
                                    {# <input type="text" name="etu_{{ etudiant.id }}_{{ critere.id  }}" value="{{ notes[etudiant.id][critre.id] }}"> #}
                                </div>
                            {% endfor %}
                            {# endif #}
                        </div>
                        {#<div class="commentaire_note">
                             <p class="commentaire">{{ form_row(note_collection[i].commentaire) }}</p>
                        </div>#}

                    </div>
                {% endfor %}

            {% else %}
                {% for note_form in form_ajout_note.notes %}
                    <div id="note_eleve">
                        {% set note_vars = note_form.vars %}
                        {% set note = note_vars.data %}
                        <div class="note-entry">
                            <p class="nom">{{ note.etudiant.nom }}</p>
                            <p class="prenom">{{ note.etudiant.prenom }}</p>
                            <p class="note">{{ form_row(note_form.note) }}</p>
                            <div class="commentaire_note">
                                <p class="commentaire">{{ form_row(note_form.commentaire) }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {# {% for groupe in groupes %}
                    <div class="groupe-container">
                        <h3>{{ groupe.nom }} ({{ groupe.taille }} personne{{ groupe.taille > 1 ? 's' : '' }})</h3>

                        <!-- Membres du groupe -->
                        <div class="membres-groupe">
                            {% for fiche_groupe in groupe.ficheGroupes %}
                                <p>{{ fiche_groupe.etudiant.prenom }} {{ fiche_groupe.etudiant.nom }}</p>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %} #}
            {% endif %}
            <button type="submit" class="btn btn-primary bouton bouton_note">Enregistrer</button>
        </form>


        {# form_end(form_ajout_note) #}
    </div>
{% endblock %}