{% extends 'base.html.twig' %}

{% block title %}Évaluation module{% endblock %}

{% block main %}
    <div id="notes_evaluation" class="div_blanche">
        <h1>{{ evaluation.matiere.nom }}</h1>
        <h2>{{ evaluation.nom }}</h2>
        <button id="toggle-all" class="bouton">Tout déplier</button>


        {# form_start(form_ajout_note) #}
        <form method="POST" action="{{ path('app_note', {'id': evaluation.id}) }}">

            {% if evaluation.statutGroupe == "Individuel" %}
                <div class="header_notes">
                    <p>Nom</p>
                    <p>Prénom</p>
                    <p>Note</p>
                    <p>Commentaire</p>
                </div>
                {# Récupérez la collection de notes du formulaire #}
                {# set note_collection = form_ajout_note.note #}

                {% for i, etudiant in etudiants %}
                    <div class="note-wrapper">
                        <div class="note_eleve">
                            <div class="down">
                                <svg alt="toggle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <p class="nom">{{ etudiant.nom }}</p>
                            <p class="prenom">{{ etudiant.prenom }}</p>
                            {% set note = notesParEtudiant[etudiant.id] ?? null %}
                            {% if note and note.note is not null %}
                                {% if note.note < 8 %}
                                    <p class="note rouge">{{ note.note }}</p>
                                {% elseif note.note > 10 %}
                                    <p class="note vert">{{ note.note }}</p>
                                {% else %}
                                    <p class="note orange">{{ note.note }}</p>
                                {% endif %}
                            {% else %}
                                <p class="note non_note">Pas de note</p>
                            {% endif %}

                            <textarea name="etu_{{ etudiant.id }}_{{ evaluation.id }}">{{ notesEvaluationsExistantes[etudiant.id][evaluation.id] ?? '' }}</textarea>

                        </div>

                        <div class="criteres_eleve">
                            {# if form_ajout_note.note is defined #}
                            {% for critere in criteres %}
                                <div class="critere_eleve">
                                    <label>{{ critere.nom }}</label>
                                    <div class="input_critere_eleve"><input type="number" name="etu_{{ etudiant.id }}_{{ critere.id }}" min="0" max="{{ critere.note }}"  placeholder="Note / {{ critere.note }}"  value="{{ notesExistantes[etudiant.id][critere.id] ?? null }}"><p>/{{ critere.note }}</p></div>
                                    <p>{{ critere.commentaire }}</p>
                                    {# <input type="text" name="etu_{{ etudiant.id }}_{{ critere.id  }}" value="{{ notes[etudiant.id][critre.id] }}"> #}
                                </div>
                            {% endfor %}
                            {# endif #}
                        </div>
                        {#<div class="commentaire_note">
                             <p class="commentaire">{{ form_row(note_collection[i].commentaire) }}</p>
                        </div>#}

                    </div>
                {% endfor %}

            {% else %}
                <div class="header_notes">
                    <p>Groupe</p>
                    <p>Note</p>
                    <p>Commentaire</p>
                </div>
                {% for i, groupe in allGroupe %}
                    <div class="note-wrapper">
                        <div class="note_eleve">
                            <div class="down">
                                <svg alt="toggle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                </svg>
                            </div>
                            <p class="nom">{{ groupe.nom }}</p>
                            {% set noteGlobale = notesGlobalesGroupe[groupe.id] ?? null %}
                            {% if noteGlobale is not null %}
                                {% if noteGlobale < 8 %}
                                    <p class="note rouge">{{ noteGlobale }}</p>
                                {% elseif noteGlobale > 10 %}
                                    <p class="note vert">{{ noteGlobale }}</p>
                                {% else %}
                                    <p class="note orange">{{ noteGlobale }}</p>
                                {% endif %}
                            {% else %}
                                <p class="note non_note">Pas de note</p>
                            {% endif %}

                            <textarea name="commentaire_groupe_{{ groupe.id }}" id="commentaire_groupe_{{ groupe.id }}">{{ commentairesExistants[groupe.id] ?? null }}</textarea>
                        </div>

                        <div class="criteres_eleve">
                            <div class="critere_eleve">
                                {% for membre in membresGroupe[groupe.id] %}
                                    <div class="membre">
                                        <img width="30px" src="{{ asset('img/avatar/') }}{{ membre.photo }}" alt="Avatar du profil">
                                        <p>{{ membre.nom }} {{ membre.prenom }}</p>
                                    </div>
                                {% endfor %}
                            </div>

                            {% for critere in criteres %}
                                {% set noteExistante = notesParEtudiantEtCritereGroupe[groupe.id][critere.id] ?? null %}
                                {% set etudiantRef = membresGroupe[groupe.id][0] %}
                                <div class="critere_eleve">
                                    <p>{{ critere.nom }}</p>
                                    <div class="input_critere_eleve">
                                        <input type="number"
                                               name="etu_{{ etudiantRef.id }}_{{ critere.id }}"
                                               min="0" max="{{ critere.note }}" step="0.1"
                                               value="{{ noteExistante.note ?? '' }}"
                                               placeholder="Note / {{ critere.note }}">
                                        <p>/{{ critere.note }}</p>
                                    </div>

                                    <p>{{ critere.commentaire }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary bouton bouton_note">Enregistrer</button>
        </form>


        {# form_end(form_ajout_note) #}
    </div>
{% endblock %}