{% extends 'base.html.twig' %}

{% block title %}Évaluation module{% endblock %}

{% block main %}
    <div class="div_blanche">
        <h1>{{ evaluation.matiere.nom }}</h1>
        <h2>{{ evaluation.nom }}</h2>


        {# form_start(form_ajout_note) #}
        <form method="POST" action="{{ path('app_note', {'id': evaluation.id}) }}">

            {% if evaluation.statutGroupe == "Individuel"%}
                {# Récupérez la collection de notes du formulaire #}
                {# set note_collection = form_ajout_note.note #}

                {% for i, etudiant in etudiants %}
                    <div id="note_eleve">
                        <div class="note-entry">
                            <p class="nom">{{ etudiant.nom }}</p>
                            <p class="prenom">{{ etudiant.prenom }}</p>
                            <div class="notes-container">
                                {# if form_ajout_note.note is defined #}
                                    {% for critere in criteres %}
                                        <p class="note">
                                            <input type="text" name="etu_{{ etudiant.id }}_{{ critere.id  }}">
                                            {# <input type="text" name="etu_{{ etudiant.id }}_{{ critere.id  }}" value="{{ notes[etudiant.id][critre.id] }}"> #}
                                        </p>
                                    {% endfor %}
                                {# endif #}
                            </div>

                            <div class="commentaire_note">
                                {# <p class="commentaire">{{ form_row(note_collection[i].commentaire) }}</p> #}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                {% for note_form in form_ajout_note.notes %}
                    <div id="note_eleve">
                        {% set note_vars = note_form.vars %}
                        {% set note = note_vars.data %}
                        <div class="note-entry">
                            <p class="nom">{{ note.etudiant.nom }}</p>
                            <p class="prenom">{{ note.etudiant.prenom }}</p>
                            <p class="note">{{ form_row(note_form.note) }}</p>
                            <div class="commentaire_note">
                                <p class="commentaire">{{ form_row(note_form.commentaire) }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#{% for groupe in groupes %}
                    <div class="groupe-container">
                        <h3>{{ groupe.nom }} ({{ groupe.taille }} personne{{ groupe.taille > 1 ? 's' : '' }})</h3>

                        <!-- Membres du groupe -->
                        <div class="membres-groupe">
                            {% for fiche_groupe in groupe.ficheGroupes %}
                                <p>{{ fiche_groupe.etudiant.prenom }} {{ fiche_groupe.etudiant.nom }}</p>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}#}
            {% endif %}
            <button type="submit" class="btn btn-primary bouton bouton_note">Enregistrer</button>
        </form>



        {# form_end(form_ajout_note) #}
    </div>
{% endblock %}