{% extends 'base.html.twig' %}

{% block title %}Notes Détail{% endblock %}

{% block main %}
    <h1>Détails de la note</h1>
    <div class="boxNoteDetails">
        <div class="infosGeneraleNoteDetails">
            <div class="infosGenerales">
                <h2>{{ evaluation.matiere.nom }}</h2>
                <h2>{{ evaluation.nom }}</h2>
                <h3>Evaluation saisie par : {{ evaluation.professeur.prenom }} {{ evaluation.professeur.nom }}</h3>
            </div>
        {% if details is not empty %}
        {% for detail in details %}
            <div class="commentaireNoteDetails">
                <p>Commentaire : {{ detail.commentaire }}</p>
            </div>
        {% endfor %}
        </div>
        <div>
            {% for detail in details %}
                {% if detail.note < 8 %}
                    <div class="row">
                        <p>Note de l'élève </p>
                        <p class="note rouge">{{ detail.note }}</p>
                    </div>
                {% elseif detail.note > 10 %}
                    <div class="row">
                        <p>Note de l'élève</p>
                        <p class="note vert">{{ detail.note }}</p>
                    </div>
                {% else %}
                    <div class="row">
                        <p>Note de l'élève</p>
                        <p class="note orange">{{ detail.note }}</p>
                    </div>

                {% endif %}
            {% endfor %}
        </div>

        <a href="{{ path ('app_reclamation_etudiant') }}" class="bouton">Faire une réclamation</a>

        {% else %}
            <div class="statutnoteDetails">
                <p>Statut de l'évaluation</p>
                <div>
                    <p class="gris">{{ evaluation.statut }}</p>
                </div>

            </div>

        {% endif %}
    </div>


{% endblock %}
