{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block main %}
    <div class="div_blanche">
    <h1>Mes Notes</h1>
    {% for matiere in matieres %}
        <div class="noteBox">
            <div class="titre_note">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
                <!-- j'affiche la moyenne dans chacune des matières -->
                {% if moyennes[matiere.id] is not null %}
                    {% if moyennes[matiere.id] < 8 %}
                        <p class="note rouge">{{ moyennes[matiere.id] }}</p>
                    {% elseif moyennes[matiere.id] > 10 %}
                        <p class="note vert">{{ moyennes[matiere.id] }}</p>
                    {% else %}
                        <p class="note orange">{{ moyennes[matiere.id] }}</p>
                    {% endif %}
                {% else %}
                    <p>Pas noté</p>
                {% endif %}
                <!-- j'affiche toutes les matieres -->
                <h3>{{ matiere.nom }}</h3>
            </div>

                {% if matiere.Evaluation is empty %}
                    <div class="note_evaluation" title="Pas d'évaluation disponible">
                        <p>Pas d'évaluation dans cette matière pour le moment</p>
                    </div>
                {% else %}
                    <div class="notes_matiere">
                        {% for evaluation in matiere.Evaluation %}
                            <!-- pour chacune des matiere, si il ya une eval j'affiche : -->
                                <a href="{{ path ('app_note_detail', {'id': evaluation.id}) }}" title="Voir le détail de ma note" class="note_evaluation">
                                    <div class="svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                                        </svg>
                                    </div>

                                    <p class="p">{{ evaluation.nom }}</p>
                                    <div class="notes">
                                        {% for note in evaluation.notes %}
                                            {% if note.note == null %}
                                                <p class="gris">{{ evaluation.statut }}</p>
                                            {% elseif note.note < 8 %}
                                                <p class="note rouge">{{ note.note }}</p>
                                            {% elseif note.note > 10 %}
                                                <p class="note vert">{{ note.note }}</p>
                                            {% else %}
                                                <p class="note orange">{{ note.note }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </a>
                        {% endfor %}
                    </div>
                {% endif %}

        </div>
    {% endfor %}
    </div>
{% endblock %}



