<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
<div class="header">
    <div class="logo">
        {% if is_granted('ROLE_PROFESSEUR') %}
        <a href="{{ path ('app_accueil_prof') }}">
            {% else %}
            <a href="{{ path ('app_accueil_etudiant') }}">
                {% endif %}
            <img src="/img/logoCorrecto.png" alt="logo">
        </a>
    </div>
    <div class="partSearch">
        <div class="search-bar">
            <input type="text" placeholder="Rechercher">
            <button class="bouton">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" r="7" stroke-width="2"/>
                    <line x1="16.707" y1="16.707" x2="21" y2="21" stroke-width="2"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="infoPerso">
        <p>Bienvenue, {{ app.user.prenom }} {{ app.user.nom }}</p>
        <a href="{{ path('app_profil') }}">
            <img src="/img/defaultAvatar.png">
        </a>
    </div>
</div>
<div class="blockPrincipal">
    <header>
        <nav>
            {% if is_granted('ROLE_PROFESSEUR') %}
            <a href="{{ path ('app_accueil_prof') }}">
                {% else %}
                <a href="{{ path ('app_accueil_etudiant') }}">
                    {% endif %}
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 10.5777L9.954 1.62271C10.394 1.18371 11.106 1.18371 11.545 1.62271L20.5 10.5777M3.25 8.32771V18.4527C3.25 19.0737 3.754 19.5777 4.375 19.5777H8.5V14.7027C8.5 14.0817 9.004 13.5777 9.625 13.5777H11.875C12.496 13.5777 13 14.0817 13 14.7027V19.5777H17.125C17.746 19.5777 18.25 19.0737 18.25 18.4527V8.32771M7 19.5777H15.25"
                              stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <div id="popAccueil">
                    Accueil
                </div>
                    {% if is_granted('ROLE_PROFESSEUR') %}
                    <a href="{{ path ('app_ressource_prof') }}">
                        {% else %}
                        <a href="{{ path ('app_note_etudiant') }}">
                            {% endif %}
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.25995 7.7317C3.9849 9.83727 3.82101 11.9559 3.76895 14.0787C6.64776 15.2812 9.40413 16.758 12 18.4887C14.5961 16.758 17.3528 15.2812 20.232 14.0787C20.1799 11.9559 20.016 9.83727 19.741 7.7317M19.741 7.7317C20.616 7.4377 21.503 7.1657 22.399 6.9177C19.1355 4.62995 15.6519 2.67359 12 1.0777C8.34795 2.67392 4.86435 4.63062 1.60095 6.9187C2.49422 7.16532 3.38056 7.43643 4.25895 7.7317C6.92757 8.62891 9.51685 9.74677 12 11.0737C14.4827 9.74676 17.0726 8.62889 19.741 7.7317ZM6.74995 12.5847C6.94886 12.5847 7.13963 12.5057 7.28028 12.365C7.42093 12.2244 7.49995 12.0336 7.49995 11.8347C7.49995 11.6358 7.42093 11.445 7.28028 11.3044C7.13963 11.1637 6.94886 11.0847 6.74995 11.0847C6.55104 11.0847 6.36027 11.1637 6.21962 11.3044C6.07897 11.445 5.99995 11.6358 5.99995 11.8347C5.99995 12.0336 6.07897 12.2244 6.21962 12.365C6.36027 12.5057 6.55104 12.5847 6.74995 12.5847ZM6.74995 12.5847V8.9097C8.44669 7.85504 10.1992 6.89296 12 6.0277M4.99295 17.5777C5.55092 17.0211 5.99339 16.3597 6.29492 15.6316C6.59644 14.9034 6.75108 14.1228 6.74995 13.3347V11.8347"
                              stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <div id="popNotes">
                    Notes
                </div>
                <a href="">
                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.376 13.9927C19.1873 14.4881 17.9119 14.7424 16.624 14.7407C11.239 14.7407 6.87402 10.3757 6.87402 4.99071C6.87402 3.66071 7.14002 2.39371 7.62202 1.23871C5.84549 1.97982 4.32799 3.23006 3.26065 4.83196C2.19331 6.43387 1.62386 8.31579 1.62402 10.2407C1.62402 15.6257 5.98902 19.9907 11.374 19.9907C13.2989 19.9909 15.1809 19.4214 16.7828 18.3541C18.3847 17.2867 19.6349 15.7692 20.376 13.9927Z"
                              stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <div id="popDarkMode">
                    Dark Mode
                </div>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
