<p>Bonjour,</p>

<p>Un nouveau groupe a été ajouté sur Correcto. Vous pouvez désormais vous inscrire. Voici les détails :</p>

<ul>
    <li>Matière : {{ groupe.evaluation.matiere.nom }}</li>
    <li>Evaluation : {{ groupe.evaluation.nom }}</li>
    <li>Nombre de personnes par groupe : {{ groupe.taille }}</li>
</ul>

<p>Cordialement.</p>
<p>{{ groupe.evaluation.professeur.nom }} {{ groupe.evaluation.professeur.prenom }}</p>